body {
    
    background-image: url(img/fondo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: white;

}
header {
    display: flex;
    height: 70px;
    background-color: black;
    justify-content: space-between;
    align-items: normal;
    padding: 15px;

}
.logo {
    display: flex;
    
}
.logo img{
    height:80px;
    
}
nav a{
    font-weight: 0;
    padding-right: 15px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.contenido{
    width: 1350px;
    height: 600px;
    background-image: url(portada.jpg);
    background-size: cover;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    
}
.contenido h1{
    font-size: 60px;
    font-weight: 300;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.titulo2{
    width: 1350px;
    height: 150px;
    background-color: aliceblue;
    opacity: 0.8;
    text-align: center;
    margin-top: 350px;

}
.boton a{
    text-align: right;
    background-color: aliceblue;
    color: black;
}
